{% extends 'admin/layout.njk' %}

{% block content %}

<main>
  <div class="main-content">
    <form class="create-recipe" method="POST" action="/admin/recipes">
      <div>
        <h2>Criando receita</h2>
        <button type="submit" class="save-button">Salvar receita</button>
      </div>

      <div>
        <label for="">Título</label>
        <input type="text" name="title">
      </div>

      <div>
        <label for="">Imagem da receita</label>
        <input type="text" name="image" placeholder="http://">
      </div>

      <div>
        <label for="">Ingredientes</label>
        <input type="text" name="ingredients">

        <span class="add-ingredients-field">Adicionar novo ingrediente</span>
      </div>

      <div>
        <label for="">Modo de preparo</label>
        <input type="text" name="preparation">
        <span class="add-preparation-field">Adicionar novo passo</span>
      </div>

      <div>
        <label for="">Informações adicionais</label>
        <input type="text" name="information">
      </div>

    </form>
  </div>
</main>

<script src="/scripts.js"></script>

{% endblock %}