{% extends 'admin/layout.njk' %}

{% block content %}

<main>
  <div class="main-content">

    <form name="delete-form" id="delete-form" method="POST" action="/admin/recipes?_method=DELETE">
      <input type="hidden" name="id" value="{{recipe.id}}">
    </form>

    <form name="recipe-form" class="create-recipe" method="POST" action="/admin/recipes?_method=PUT">
      <div>
        <h2>Criando receita</h2>
        <div>
          <button class="delete-button" type="submit" form="delete-form">Deletar</button>
          <button class="save-button" type="submit">Salvar receita</button>
        </div>
      </div>

      <div>
        <label for="">Imagem da receita</label>
        <input type="text" value="{{recipe.image}}">
      </div>

      <div>
        <label for="">Ingredientes</label>
        
        {%for ingredient in recipe.ingredients%}
          <input type="text" name="ingredients" value="{{ingredient}}">
        {%endfor%}

        <span class="add-ingredients-field">Adicionar novo ingrediente</span>
      </div>

      <div>
        <label for="">Modo de preparo</label>

        {%for step in recipe.preparation%}
          <input type="text" name="preparation" value="{{step}}">
        {%endfor%}

        <span class="add-preparation-field">Adicionar novo passo</span>
      </div>

      <div>
        <label for="">Informações adicionais</label>
        <input type="text" name={{recipe.information}} value={{recipe.information}}>
      </div>

      <input type="hidden" name="id" value={{recipe.id}}>

    </form>
  </div>
</main>

<script src="/scripts.js"></script>

{% endblock %}